/* You can add global styles to this file, and also import other style files */
.wrap-login{
    padding-top: 20 px;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#fff;
    border: solid 1px #a3a2a5;
    -webkit-box-shadow: 0px 0px 26px -4px rgba(189,185,189,1);
-moz-box-shadow: 0px 0px 26px -4px rgba(189,185,189,1);
box-shadow: 0px 0px 26px -4px rgba(189,185,189,1);
}
.btn-login{
    background-color: rgb(118, 165, 235);
}